<br>
<div class="action-container container" >
  <br><br>
  <h2 class="text-center" >Edição do Cardápio #<%= @menu.id %> <%= link_to 'Show', @menu, class: "btn btn-primary text-center" %></h2>

  <%= render 'form', menu: @menu %>
  <%=  %>
  <br>
</div>
