<br>
<div class="action-container container" >
  <br><br>
  <h2 class="text-center" >Criar de novo cardápio</h2>

  <%= render 'form', menu: @menu %>
  <br>

  <!-- <%= link_to 'Back', menus_path, class:"btn btn-primary my-2 mr-4", style:"background-color: #F28D3C; border: none;" %> -->
</div>