<br>
<div class="container" style="margin: 0 auto;width:25%; background-color: #F2F3F2;" >
  <br><br>
  <h2 style="text-align: center;" >Criar de novo cardápio</h2>

  <%= render 'form', menu: @menu %>
  <br>

  <!-- <%= link_to 'Back', menus_path, class:"btn btn-primary my-2 mr-4", style:"background-color: #F28D3C; border: none;" %> -->
</div>