<center>
<h2>Avaliação</h2>
<p>Refeição: <%= @meal %></p>

<br>
<br>
<% if (@rating.rating > -1) %>
    <h1> <%= @rating.rating %> </h1>
<% end %>
<p> <%= @notification %> </p>

<br>
<br>



</center>