<p id="notice"><%= notice %></p>

<div class="container">
  <br><br>
  <h1>Cardápios</h1>

  <div style="display:flex;">
    <%= link_to 'Criar cardápio', new_menu_path, class:"btn btn-primary my-2 mr-4", style:"background-color: #F28D3C; border: none;" %>
    <%= link_to 'Importar cardápios da semana', new_menus_import_path, class:"btn btn-primary my-2", style:"background-color: #F28D3C; border: none;" %>
  </div>

  <br><br>
  <h3>Cardápios da semana</h3>
  <table class="table">
    <thead style="background-color: #F28D3C; color: white;">
      <tr>
        <th>Segunda-feira</th>
        <th>Terça-feira</th>
        <th>Quarta-feira</th>
        <th>Quinta-feira</th>
        <th>Sexta-feira</th>
        <th>Sábado</th>
        <th>Domingo</th>
      </tr>
    </thead>
    <tbody style="background-color: #F2F3F2;">
      <tr>
        <% @week_menus.each do |menu|  %>
          <% if menu %>
            <td>
              <%= link_to "Dia "+menu.date.strftime("%d"), menu , class:"btn btn-dark m-1 px-3" %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>