<%= image_tag "rumor-logo.png" %>

<h1>Menu</h1>

<a href="/pages/cardapio">Consultar Cardápio</a> <br>

<%= link_to("Horário de Funcionamento", "/working_hour")%>
<br>  
<%= link_to("Avaliação do Cardápio do Dia", "/view_rating")%> 