<h1>CARDÁPIO</h1>

<p id="text_element">http://localhost:3000/pages/cardapio_1</p>

<div id="compartilhar">
<form action="/pages/cardapio" class="button_to" data-remote="true" method="get">
  <input type="submit" value="Compartilhar" />
</form>
</div> </br>

<div id="placeholder">
<input type="text" placeholder="Cole aqui para testar!" />
</div> </br>

<h2>Localização Dos Restaurantes</h2>

<div id="localizacao">
<a id="darcy_link" href="/pages/darcy">Darcy Ribeiro</a>
</br> <a id="gama_link" href="/pages/gama">Gama</a>
</br> <a id="ceilandia_link" href="/pages/ceilandia">Ceilandia</a>
</br> <a id="planaltina_link" href="/pages/planaltina">Planaltina</a>
</div> </br>


</br> <a href="/welcome/index">Voltar</a> </br>

 <%# <a href="/pages/cardapio">Compartilhar Cardápio</a> </br> %>
