<center>
<h1>Horário de Funcionamento</h1>
<p>Busque um RU para saber seu horário de funcionamento!</p>



<%= form_tag(rus_path, :method => "get") do %>  
  <div class="input-group">  
    <%= select_tag :name, options_for_select(Ru.all.collect {|ru| [ru.name]}), :onchange => params[:name], :include_blank => true  %>
      
    <%= button_tag "Search"%> 
    
  </div>  
<% end %>
<br>
<br>


<% if @working_hour.nil? == false%>
  <h2>Resultado pesquisa</h2>
  <p> <%= @working_hour.working_hour.gsub(/\n/, '<br>').html_safe%><br>  </p>
<%end%>

</center>