/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "breakfasts";
 @import "customer_satisfactions";
 @import "dashboard";
 @import "dinners";
 @import "home";
 @import "lunches";
 @import "menus";


body{
    background-color: #f0f2f5;
}
 .custom-alert-position {
 margin-top: 2.5em;
}

.box{
    background-color: white;
    margin-top: 8em;
    width: 30%;
    border-radius: 5px;
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    align-items: center;
    flex-direction: column;
    display: flex
}

.login_btn{
    background-color: #F28D3C;
    width: 100%;
    color: white;
}