// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.action-container {
  margin: 0 auto;
  width:25%; 
  background-color: #F2F3F2;
}

.menus-container {
  background-color: #F2F3F2; 
  > h2 {
    background-color: #F28D3C; 
    color: white;
  }
}

.menu-show {
  background-color: silver;
  color: black;
}

.menu-item {
  background-color: white; 
}

.menus-button {
  background-color: #F28D3C; 
  border: none;
}

.show-button {
  background-color: grey; 
  border: none;
}

.table-pallete {
  > thead {
    background-color: #F28D3C; 
    color: white;
  }
  > tbody {
    background-color: #F2F3F2;
  }
}