// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menus-button{
  background-color: #F28D3C; 
  border: none;
}

.table-pallete {
  > thead {
    background-color: #F28D3C; 
    color: white;
  }
  > tbody {
    background-color: #F2F3F2;
  }
}